[user]
	name = Alan Chen
	email = alanchen@nyu.edu
[core]
	editor = vim
[alias]
    a = add
    b = branch
    c = commit
    d = diff
    o = checkout
    st = status
    p = pull
    ps = push
    au = add -u   
    lola = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
